/* TwitchDarkMode.css */
/* Basic Color Scheme Definitions */
:root {
	--twitch-dark: #0e0e10;
	--twitch-dark-alt: #1f1f23;
	--twitch-text: #e0e0e0;
	--twitch-primary: #9147ff;
	--twitch-accent: #772ce8;
	--twitch-gray: #b3b3b3;
	--twitch-light-gray: #4f4f52;
	--twitch-danger: #f04747;
}

/* General Body and Background Styles */
body {
	background-color: var(--twitch-dark) !important;
	color: var(--twitch-text);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	transition: background-color 0.3s ease;
}

/* Link Styles */
a {
	color: var(--twitch-primary);
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
	color: var(--twitch-accent);
}

/* Navigation Styles */
nav {
	background-color: var(--twitch-dark-alt);
	border-bottom: 1px solid var(--twitch-light-gray);
	padding: 10px 20px;
}

nav a {
	margin-right: 15px;
	font-weight: bold;
}

/* Header Styles */
header {
	background: var(--twitch-dark-alt);
	color: var(--twitch-text);
	padding: 20px;
	text-align: center;
}

/* Button Styles */
button {
	background-color: var(--twitch-primary);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: var(--twitch-accent);
}

button:disabled {
	background-color: var(--twitch-light-gray);
}

/* Form Input Styles */
input[type="text"], input[type="password"], input[type="email"], textarea {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 20px;
	border: 1px solid var(--twitch-light-gray);
	background-color: var(--twitch-dark);
	color: var(--twitch-text);
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border-color: var(--twitch-primary);
}

/* Error Text */
.error-text {
	color: var(--twitch-danger);
	font-weight: bold;
}

nav a:hover, nav a:focus {
	text-decoration: underline;
	color: var(--twitch-accent);
}

.selected {
    border: 2px solid #f00;
}

/* Container Styles */
.container {
    background-color: var(--twitch-dark-alt);
    color: var(--twitch-text);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
	display: flex;
    justify-content: space-between;
}

.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
    color: var(--twitch-primary);
}

.container a {
    color: var(--twitch-primary);
}

.container a:hover, .container a:focus {
    color: var(--twitch-accent);
    text-decoration: underline;
}

.tag-cloud {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

.tag {
	margin: 0.2em;
	padding: 0.5em;
	font-size: 0.8em;
	background-color: var(--twitch-accent);
	border-radius: 5px;
	color: white;
}

/* Category Search Container Styles */
.category-search-container {
    background-color: var(--twitch-dark-alt);
    color: var(--twitch-text);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.category-search-container h1 {
    color: var(--twitch-primary);
}

.category-search-container a {
    color: var(--twitch-primary);
}

.category-search-container a:hover, .category-search-container a:focus {
    color: var(--twitch-accent);
    text-decoration: underline;
}

/* Stream Details Styles */
.stream-details {
    background-color: var(--twitch-dark-alt);
    color: var(--twitch-text);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
	flex: 1;
}

.stream-details h2 {
    color: var(--twitch-primary);
}

.stream-details a {
    color: var(--twitch-primary);
}

.stream-details a:hover, .stream-details a:focus {
    color: var(--twitch-accent);
    text-decoration: underline;
}

.streams-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.stream-card {
    background-color: var(--twitch-dark-alt);
    color: var(--twitch-text);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stream-card img {
    width: 100%;
    height: auto;
}

.stream-card .stream-info {
    margin-top: 10px;
}

.category-table {
	flex: 1;
    margin-right: 20px;
}

.categories {
    min-width: 350px; /* Adjust as needed */
}

.streams {
    min-height: 500px; /* Adjust as needed */
}

.card {
    display: flex;
    flex-direction: column; /* Stack the content vertically */
}

.card-body {
    flex-grow: 1; /* Allow the body to grow to fill the space */
}

.login-container, .signup-container {
    background-color: #9146FF;
    color: #FFFFFF; /* White */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* Black shadow */
}

.login-container input, .signup-container input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login-container button, .signup-container button {
    background-color: #FFFFFF; /* White */
    color: #9146FF; /* Twitch Purple */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover, .signup-container button:hover {
    background-color: #000000; /* Black */
    color: #FFFFFF; /* White */
}

.large-tooltip .tooltip-inner {
    max-width: 350px; /* or any other value that suits your needs */
}

.small-image {
    width: 50px; /* or any other value that suits your needs */
    height: 50px; /* or any other value that suits your needs */
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maturity-icon {
    flex: 1;
}

.badge-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 2;
}

.newbie-message {
    padding: 5px 10px;
    color: #fff;
    background: #add8e6;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px #add8e6, 0 0 40px #add8e6, 0 0 80px #add8e6;
}

.affiliate-message {
    padding: 5px 10px;
    color: #fff;
    background: linear-gradient(160deg, #ffcc00, #ffcc00 50%, #d4af37);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px #ffcc00, 0 0 40px #ffcc00, 0 0 80px #ffcc00;
    animation: shine 2s ease-in-out infinite;
}

@keyframes shine {
    0% { background-position: -200px; }
    50% { background-position: 200px; }
    100% { background-position: -200px; }
}

.affiliate-icon {
    padding-left: 10px;
}

.profile-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-container h1, .profile-container h2 {
    color: #333;
}

.profile-container p {
    color: #666;
    line-height: 1.6;
}

.profile-container .btn {
    margin-top: 20px;
}

.just-started-message {
	padding: 5px 10px;
	color: #fff;
	background: #32cd32;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 10px #32cd32, 0 0 40px #32cd32, 0 0 80px #32cd32;
}