.category-search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;  /* Light text color for dark backgrounds */
	background-color: #0e0e10;  /* Dark background similar to Twitch */
}

.category-search {
	max-width: 800px;
	width: 100%;
	padding: 20px;
	border: 1px solid #464648;  /* Darker border for subtle contrast */
	border-radius: 5px;
	margin-top: 20px;
	background-color: #18181b;  /* Slightly lighter dark background for the search box */
	font-size: 24px;
}

.category-search h1 {
	margin-bottom: 20px;
	color: #fff;  /* Ensure headings are also light colored */
}

.category-search form {
	display: flex;
	margin-bottom: 20px;
}

.category-search input[type="text"] {
	flex-grow: 1;
	padding: 10px;
	border: 1px solid #464648;  /* Dark border for input fields */
	background-color: #121214;  /* Dark input field background */
	color: #ddd;  /* Light text color for input */
	border-radius: 5px;
	margin-right: 10px;
}

.category-search button {
	padding: 10px 20px;
	background-color: #6441a5;  /* Twitch's brand purple for buttons */
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.category-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.category-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #333;  /* Darker border color for list items */
	color: #ffffff; /* Lighter text color for list items */
	font-size: 1rem;
}

.category-item:last-child {
	border-bottom: none;
}

.favorite-button {
	padding: 5px 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 20px;
	color: #ffca28;  /* Keeping the gold color for the favorite star */
}

.category-box-art {
	width: 100px;  /* Adjust based on your layout */
	height: auto;
	margin-right: 10px;
	border-radius: 4px;
}

.category-search-layout {
	display: flex;
	justify-content: space-between;
}

.search-results {
	width: 60%; /* Adjust width as needed */
}

.stream-details {
	width: 40%; /* Adjust width as needed */
	padding-left: 20px; /* Gives some space between columns */
}

.streams-list {
	padding: 0;
	list-style: none;
}

.stream-card {
	display: flex;
	align-items: center;
	margin-bottom: 10px; /* Space between cards */
	background-color: #f0f0f0; /* Light background for the card */
	border-radius: 8px; /* Rounded corners */
	padding: 10px;
	color: #000000;
}

.stream-thumbnail {
	width: 100px;
	height: auto;
	margin-right: 15px;
	border-radius: 4px;
}

.stream-info {
	flex: 1;
}