/* TwitchDarkMode.css */
/* Basic Color Scheme Definitions */
:root {
	--twitch-dark: #241623;
	--twitch-dark-alt: #302130; 
	--twitch-text: #ddd; 
	--twitch-primary: #9c88ff; 
	--twitch-accent: #7e57c2; 
	--twitch-gray: #888; 
}

/* General Body and Background Styles */
body {
	background-color: var(--twitch-dark);
	color: var(--twitch-text);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	transition: background-color 0.3s ease;
}

/* Link Styles */
a {
	color: var(--twitch-primary);
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
	color: var(--twitch-accent);
}

/* Navigation Styles */
nav {
	background-color: var(--twitch-dark-alt);
	border-bottom: 1px solid var(--twitch-light-gray);
	padding: 10px 20px;
}

nav a {
	margin-right: 15px;
	font-weight: bold;
}

/* Header Styles */
header {
	background: var(--twitch-dark-alt);
	color: var(--twitch-text);
	padding: 20px;
	text-align: center;
}

/* Button Styles */
button {
	background-color: var(--twitch-primary);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: var(--twitch-accent);
}

button:disabled {
	background-color: var(--twitch-light-gray);
}

/* Form Input Styles */
input[type="text"], input[type="password"], textarea {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 20px;
	border: 1px solid var(--twitch-light-gray);
	background-color: var(--twitch-dark);
	color: var(--twitch-text);
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border-color: var(--twitch-primary);
}

/* Error Text */
.error-text {
	color: var(--twitch-danger);
	font-weight: bold;
}

.selected-stream .card {
	border: 2px solid #007bff;  /* Blue border for selected stream */
	box-shadow: 0 0 15px rgba(0,123,255,.5);  /* Soft glow for emphasis */
}

.toggle-indicator {
	cursor: pointer;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

.toggle-indicator.closed {
	transform: rotate(0);
}

.toggle-indicator.open {
	transform: rotate(-180deg); /* Adjust rotation direction if necessary */
}
